<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<servlet>
	    <servlet-name>AdminValidation</servlet-name>
	    <servlet-class>com.google.Admin.AdminValidation</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>PassengerValidation</servlet-name>
	    <servlet-class>com.google.Passenger.PassengerValidation</servlet-class>
	</servlet>
		<servlet>
	    <servlet-name>PassengerDetails</servlet-name>
	    <servlet-class>com.google.Passenger.PassengerDetails</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>StationDetails</servlet-name>
	    <servlet-class>com.google.Admin.StationDetails</servlet-class>
	</servlet>
		<servlet>
	    <servlet-name>TrainDetails</servlet-name>
	    <servlet-class>com.google.Admin.TrainDetails</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>TrainSchedule</servlet-name>
	    <servlet-class>com.google.Admin.TrainSchedule</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>SeatInformation</servlet-name>
	    <servlet-class>com.google.Admin.SeatInformation</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>TicketInformation</servlet-name>
	    <servlet-class>com.google.Admin.TicketInformation</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>UpdateInformation</servlet-name>
	    <servlet-class>com.google.Passenger.UpdateInformation</servlet-class>
	</servlet>
	
	
	
	<servlet-mapping>
	    <servlet-name>AdminValidation</servlet-name>
	    <url-pattern>/adminvalidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>PassengerValidation</servlet-name>
	    <url-pattern>/passengervalidation</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
	    <servlet-name>PassengerDetails</servlet-name>
	    <url-pattern>/passengerdetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>StationDetails</servlet-name>
	    <url-pattern>/stationdetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>TrainDetails</servlet-name>
	    <url-pattern>/traindetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>TrainSchedule</servlet-name>
	    <url-pattern>/trainschedule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>SeatInformation</servlet-name>
	    <url-pattern>/seatinformation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>TicketInformation</servlet-name>
	    <url-pattern>/ticketinformation</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
	    <servlet-name>UpdateInformation</servlet-name>
	    <url-pattern>/updateinformation</url-pattern>
	</servlet-mapping>
	
	
		
	<welcome-file-list>
		<welcome-file>Homepage.html</welcome-file>
	</welcome-file-list>
</web-app>
